<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BooruSharp" version="1.4.6" targetFramework="net48" />
  <package id="CC-Functions.Misc" version="1.0.4" targetFramework="net472" />
  <package id="Chan.Net" version="0.0.15" targetFramework="net48" />
  <package id="DSharpPlus" version="4.0.0-nightly-00641" targetFramework="net48" />
  <package id="DSharpPlus.CommandsNext" version="4.0.0-nightly-00641" targetFramework="net48" />
  <package id="DSharpPlus.Interactivity" version="4.0.0-nightly-00641" targetFramework="net48" />
  <package id="DSharpPlus.VoiceNext" version="4.0.0-nightly-00641" targetFramework="net48" />
  <package id="DSharpPlus.WebSocket.WebSocketSharp" version="4.0.0-nightly-00641" targetFramework="net472" />
  <package id="Emzi0767.Microsoft.DependencyInjection" version="2.0.0" targetFramework="net48" />
  <package id="Emzi0767.Microsoft.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Octokit" version="0.36.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net472" />
</packages>